<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your child sent the following message: <%= @message.data %></h1>
<p>
  Click here to approve this message: <%= @url %>.
</p>
<p>
  Thank you and have a nice day!
</p>
</body>
</html>