// Mixins
@mixin rounded-box($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Descriptive Colors
$white:        #ffffff;
$grey:         #222222;
$teal:         #00FFFF;

// Functional Colors
$header--background:          $teal;
$header__logo--color:         $white;
$header__logo--color--hover:  $teal;

$body--background:          $teal;

$footer--background:          $teal;
$footer--color:               $white;
$footer__nav--color:          $teal;
$footer__nav--color--hover:   $white;

$content--background:         $white;
$content--color:              $grey;

$feature__link--background:   $teal;
$feature__link--color:        $white;
$feature__link--color--hover: $white;

/*header and logo*/

.header {
  @include rounded-box;
  background-color: $header--background;
}
.header a {
  color: $header__logo--color;
}
.header a:hover {
  color: $header__logo--color--hover;
}
/*background color*/
body {
  background-color:$body--background;
}

html {
  overflow-y: scroll;
}

/*footer color*/
.footer {
  @include rounded-box;
  background-color: $footer--background;
  color: $footer--color;
}
.footer a {
  color: $footer__nav--color;
}
.footer a:hover {
  color: $footer__nav--color--hover;
}

.feature a {
  @include rounded-box;
  background-color: $feature__link--background;
  color: $feature__link--color;
}

.feature a:hover {
  color: $teal;
}

.content {
  background-color: $content--background;
  color: $content--color;
}