<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" bref="children.css.scss">
</head>
<body>

<%= image_tag("banner.png", :width => "40%" ) %>      <Br/>
<%= yield %>

</body>
</html>

